/* line 3, skew.scss */
.deck-container {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: #fff; }
  /* line 8, skew.scss */
  .deck-container .slide {
    background: #fff; }
    /* line 11, skew.scss */
    .deck-container .slide h1 {
      color: #000;
      letter-spacing: -.05em; }
    /* line 16, skew.scss */
    .deck-container .slide h2 {
      color: #1f4c7f;
      border-bottom-color: #ccc;
      letter-spacing: -.05em; }
    /* line 22, skew.scss */
    .deck-container .slide h3 {
      color: #444; }
    /* line 26, skew.scss */
    .deck-container .slide pre {
      border-color: #ccc; }
    /* line 30, skew.scss */
    .deck-container .slide code {
      color: #199e07; }
    /* line 34, skew.scss */
    .deck-container .slide blockquote {
      font-size: 1em;
      font-style: italic;
      padding: 0.8em 3em 0.8em 1.5em;
      color: #333;
      background: #f6f6f6;
      border-left: 5px solid #cccccc; }
      /* line 42, skew.scss */
      .deck-container .slide blockquote p {
        margin: 0; }
      /* line 46, skew.scss */
      .deck-container .slide blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #888; }
    /* line 54, skew.scss */
    .deck-container .slide ::-moz-selection {
      background: #c00;
      color: #fff; }
    /* line 55, skew.scss */
    .deck-container .slide ::selection {
      background: #c00;
      color: #fff; }
    /* line 57, skew.scss */
    .deck-container .slide a {
      color: #1c68be !important; }
      /* line 60, skew.scss */
      .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
        color: #c00;
        text-decoration: none; }
      /* line 65, skew.scss */
      .deck-container .slide a:hover, .deck-container .slide a:focus {
        text-decoration: underline; }
    /* line 70, skew.scss */
    .deck-container .slide .strike {
      text-decoration: line-through; }
    /* line 73, skew.scss */
    .deck-container .slide .dim {
      opacity: .4; }
  /* line 79, skew.scss */
  .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
    opacity: 0.4; }
    /* line 83, skew.scss */
    .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  /* line 89, skew.scss */
  .deck-container > .slide .deck-child-current {
    opacity: 1; }
  /* line 94, skew.scss */
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #ccc;
    font-family: serif; }
    /* line 98, skew.scss */
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    /* line 102, skew.scss */
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #1f4c7f;
      text-decoration: none; }
  /* line 108, skew.scss */
  .deck-container .deck-status {
    font-size: 0.6666em;
    right: 15px; }
  /* line 114, skew.scss */
  .deck-container.deck-menu .slide {
    background: #eee; }
  /* line 118, skew.scss */
  .deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
    background: #ddf; }
  /* line 123, skew.scss */
  .deck-container .home {
    background: url(../../resources/images/bleeding-edge.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    /* line 130, skew.scss */
    .deck-container .home h1 {
      color: #fff;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7); }
