/* line 1, skew.scss */
.deck-container {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: #fff; }
  /* line 6, skew.scss */
  .deck-container .slide {
    background: #fff; }
    /* line 9, skew.scss */
    .deck-container .slide h1 {
      color: #000;
      letter-spacing: -.05em; }
    /* line 14, skew.scss */
    .deck-container .slide h2 {
      color: #1f4c7f;
      border-bottom-color: #ccc;
      letter-spacing: -.05em; }
    /* line 20, skew.scss */
    .deck-container .slide h3 {
      color: #888; }
    /* line 24, skew.scss */
    .deck-container .slide pre {
      border-color: #ccc; }
    /* line 28, skew.scss */
    .deck-container .slide code {
      color: #888; }
    /* line 32, skew.scss */
    .deck-container .slide blockquote {
      font-size: 2em;
      font-style: italic;
      padding: 1em 2em;
      color: #000;
      border-left: 5px solid #cccccc; }
      /* line 39, skew.scss */
      .deck-container .slide blockquote p {
        margin: 0; }
      /* line 43, skew.scss */
      .deck-container .slide blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #888; }
    /* line 51, skew.scss */
    .deck-container .slide ::-moz-selection {
      background: #c00;
      color: #fff; }
    /* line 52, skew.scss */
    .deck-container .slide ::selection {
      background: #c00;
      color: #fff; }
    /* line 54, skew.scss */
    .deck-container .slide a {
      color: #1f4c7f !important; }
      /* line 57, skew.scss */
      .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
        color: #c00;
        text-decoration: none; }
      /* line 62, skew.scss */
      .deck-container .slide a:hover, .deck-container .slide a:focus {
        text-decoration: underline; }
  /* line 69, skew.scss */
  .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
    opacity: 0.4; }
    /* line 73, skew.scss */
    .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  /* line 79, skew.scss */
  .deck-container > .slide .deck-child-current {
    opacity: 1; }
  /* line 84, skew.scss */
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #ccc;
    font-family: serif; }
    /* line 88, skew.scss */
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    /* line 92, skew.scss */
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #1f4c7f;
      text-decoration: none; }
  /* line 98, skew.scss */
  .deck-container .deck-status {
    font-size: 0.6666em;
    right: 15px; }
  /* line 104, skew.scss */
  .deck-container.deck-menu .slide {
    background: #eee; }
  /* line 108, skew.scss */
  .deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
    background: #ddf; }
